.booknetic_signup *
{
    font-family: 'Poppins', sans-serif !important;
    box-sizing: border-box;

    align-content: unset;
    align-items: unset;
    align-self: unset;
    animation: unset;
    appearance: unset;
    backface-visibility: unset;
    background-blend-mode: unset;
    background: unset;
    binding: unset;
    block-size: unset;
    border-block-end: unset;
    border-block-start: unset;
    border-collapse: unset;
    border-inline-end: unset;
    border-inline-start: unset;
    border-radius: unset;
    border-spacing: unset;
    border: unset;
    bottom: unset;
    box-align: unset;
    box-decoration-break: unset;
    box-direction: unset;
    box-flex: unset;
    box-ordinal-group: unset;
    box-orient: unset;
    box-pack: unset;
    box-shadow: unset;
    caption-side: unset;
    clear: unset;
    clip-path: unset;
    clip-rule: unset;
    clip: unset;
    color-adjust: unset;
    color-interpolation-filters: unset;
    color-interpolation: unset;
    color: unset;
    column-fill: unset;
    column-gap: unset;
    column-rule: unset;
    columns: unset;
    content: unset;
    control-character-visibility: unset;
    counter-increment: unset;
    counter-reset: unset;
    cursor: unset;
    dominant-baseline: unset;
    empty-cells: unset;
    fill-opacity: unset;
    fill-rule: unset;
    fill: unset;
    filter: unset;
    flex-flow: unset;
    flex: unset;
    float-edge: unset;
    float: unset;
    flood-color: unset;
    flood-opacity: unset;
    font-feature-settings: unset;
    font-kerning: unset;
    font-language-override: unset;
    font-size-adjust: unset;
    font-size: unset;
    font-stretch: unset;
    font-style: unset;
    font-synthesis: unset;
    font-variant: unset;
    font-weight: unset;
    force-broken-image-icon: unset;
    height: unset;
    hyphens: unset;
    image-orientation: unset;
    image-region: unset;
    image-rendering: unset;
    ime-mode: unset;
    inline-size: unset;
    isolation: unset;
    justify-content: unset;
    justify-items: unset;
    justify-self: unset;
    left: unset;
    letter-spacing: unset;
    lighting-color: unset;
    line-height: unset;
    list-style: unset;
    margin-block-end: unset;
    margin-block-start: unset;
    margin-inline-end: unset;
    margin-inline-start: unset;
    margin: unset;
    marker-offset: unset;
    marker: unset;
    mask-type: unset;
    mask: unset;
    max-block-size: unset;
    max-height: unset;
    max-inline-size: unset;
    max-width: unset;
    min-block-size: unset;
    min-height: unset;
    min-inline-size: unset;
    min-width: unset;
    mix-blend-mode: unset;
    object-fit: unset;
    object-position: unset;
    offset-block-end: unset;
    offset-block-start: unset;
    offset-inline-end: unset;
    offset-inline-start: unset;
    opacity: unset;
    order: unset;
    orient: unset;
    outline-offset: unset;
    outline-radius: unset;
    outline: unset;
    overflow: unset;
    padding-block-end: unset;
    padding-block-start: unset;
    padding-inline-end: unset;
    padding-inline-start: unset;
    padding: unset;
    page-break-after: unset;
    page-break-before: unset;
    page-break-inside: unset;
    paint-order: unset;
    perspective-origin: unset;
    perspective: unset;
    pointer-events: unset;
    position: unset;
    quotes: unset;
    resize: unset;
    right: unset;
    ruby-align: unset;
    ruby-position: unset;
    scroll-behavior: unset;
    scroll-snap-coordinate: unset;
    scroll-snap-destination: unset;
    scroll-snap-points-x: unset;
    scroll-snap-points-y: unset;
    scroll-snap-type: unset;
    shape-rendering: unset;
    stack-sizing: unset;
    stop-color: unset;
    stop-opacity: unset;
    stroke-dasharray: unset;
    stroke-dashoffset: unset;
    stroke-linecap: unset;
    stroke-linejoin: unset;
    stroke-miterlimit: unset;
    stroke-opacity: unset;
    stroke-width: unset;
    stroke: unset;
    tab-size: unset;
    table-layout: unset;
    text-align-last: unset;
    text-align: unset;
    text-anchor: unset;
    text-combine-upright: unset;
    text-decoration: unset;
    text-emphasis-position: unset;
    text-emphasis: unset;
    text-indent: unset;
    text-orientation: unset;
    text-overflow: unset;
    text-rendering: unset;
    text-shadow: unset;
    text-size-adjust: unset;
    text-transform: unset;
    top: unset;
    transform-origin: unset;
    transform-style: unset;
    transform: unset;
    transition: unset;
    user-focus: unset;
    user-input: unset;
    user-modify: unset;
    user-select: unset;
    vector-effect: unset;
    vertical-align: unset;
    visibility: unset;
    white-space: unset;
    width: unset;
    will-change: unset;
    window-dragging: unset;
    word-break: unset;
    word-spacing: unset;
    word-wrap: unset;
    writing-mode: unset;
    z-index: unset;
}

.booknetic_btn_primary
{
    height: 36px;
    font-weight: 600;
    font-size: 12px !important;
    line-height: 18px;
    padding: 5px 15px !important;
    outline: none !important;
    cursor: pointer;
    text-decoration: none !important;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    background-color: #6C70DC !important;
    color: #FFF !important;
    border: 0 !important;
}
.booknetic_btn_secondary
{
    height: 36px;
    font-weight: 600;
    font-size: 12px !important;
    line-height: 18px;
    padding: 5px 15px !important;
    outline: none !important;
    cursor: pointer;
    text-decoration: none !important;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    background-color: #F7F8FB !important;
    color: #8F9CA7 !important;
    border: 1px solid #E3EAF3 !important;
}
.booknetic_btn_success
{
    height: 36px;
    font-weight: 600;
    font-size: 12px !important;
    line-height: 18px;
    padding: 5px 15px !important;
    outline: none !important;
    cursor: pointer;
    text-decoration: none !important;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    background-color: #4FBF65 !important;
    color: #FFF !important;
    border: 0 !important;
}

.booknetic_text_primary
{
    color: #6C70DC !important;
}
.booknetic_text_secondary
{
    color: #8F9CA7 !important;
}

.booknetic_signup
{
    display: block;
    height: auto;
    width: 460px !important;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 0 40px 0 rgba(0,0,0,0.1);
    padding: 35px 0;
}

.booknetic_header
{
    text-align: center;
    color: #292D32;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
}

.booknetic_subtitle
{
    color: #292D32;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
}

.booknetic_form
{
    padding:  30px 50px 25px 50px;
}

.booknetic_form label
{
    color: #292D32;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 5px;
}

.booknetic_form input[type='text'], .booknetic_form input[type='password'], .booknetic_form input[type='email']
{
    height: 48px;
    width: 100%;
    border: 1px solid #E3EAF3 !important;
    border-radius: 2px;
    background-color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
    color: #292D32;
    font-size: 14px;
}

.booknetic_form input[type='text']::placeholder, .booknetic_form input[type='password']::placeholder, .booknetic_form input[type='email']::placeholder
{
    color: #828F9A !important;
    opacity: 1 !important;
    font-size: 14px;
}

.booknetic_form_element
{
    margin-bottom: 20px;
}

.booknetic_form_element_row
{
    display: flex;
}

.booknetic_form_element_row > .booknetic_form_element:not(:last-child)
{
    margin-right: 10px;
}
.booknetic_form_element_row > .booknetic_form_element:not(:first-child)
{
    margin-left: 10px;
}

.booknetic_forgot_password
{
    color: #A2ABBC;
    font-size: 14px;
    text-decoration: underline !important;
    cursor: pointer;
}
.booknetic_forgot_password img
{
    width: 18px;
    height: 18px;
    display: inline;
    vertical-align: middle;
    margin-right: 8px;
}

.booknetic_signup_btn, .booknetic_continue_btn, .booknetic_complete_btn, .booknetic_complete_signup_btn
{
    height: 56px;
    width: 100%;
    text-align: center;
    font-size: 14px !important;
    margin-top: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.booknetic_footer
{
    text-align: center;
    color: #292D32;
    font-size: 14px;
    font-weight: 500;
}

.booknetic_footer a
{
    color: #6C70DC;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline !important;
    margin-left: 10px;
    cursor: pointer;
}

.booknetic_check_your_email
{
    color: #292D32;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.booknetic_email_success
{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.booknetic_step_2
{
    display: none;
}

.booknetic_step_2 .booknetic_footer
{
    color: #828f9a;
    font-size: 14px;
    font-weight: 500 !important;
}

.booknetic_input_group
{
    display: flex;
}

.booknetic_input_group > span {
    background-color: #E3EAF3;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: #828F9A;
    font-size: 14px;
    padding: 14px 16px;
    white-space: nowrap;
    height: 48px;
}

.booknetic_input_group > input
{
    width: auto;
    min-width: 0;
}

.booknetic_step_progress_bar
{
    display: flex;
    padding: 40px 50px 0 50px;
}

.booknetic_step_progress_bar_line
{
    width: 75%;
    display: block;
    height: 6px;
    border-radius: 4px;
    background-color: #E3EAF3;
    margin-top: 10px;
    position: relative;
}

.booknetic_step_progress_bar_line[data-step="2"]:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    width: 50%;
    background: #6C70DC;
}


.booknetic_step_progress_bar_txt
{
    text-align: right;
    width: 25%;
    color: #8F9CA7;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
}

.booknetic_step_progress_bar_txt span
{
    display: inline-block;
    padding: 0 1px;
}

.booknetic_company_image
{
    display: flex;
    justify-content: center;
}

.booknetic_company_image_border {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 30px;
    cursor: pointer;
}

.booknetic_company_image_border img
{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#booknetic_company_image_input
{
    display: none;
}

.booknetic_required_star
{
    color: #ff6a4f;
}

.booknetic_signup_completed
{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding: 0 40px;
}

.booknetic_signup_completed > img
{
    width: 100%;
}

.booknetic_signup_completed_title
{
    text-align: center;
    color: #050634;
    font-size: 28px;
    font-weight: 600;
}

.booknetic_signup_completed_subtitle
{
    text-align: center;
    color: #6B7886;
    font-size: 15px;
    padding: 10px 40px;
}

.booknetic_signup_completed_footer
{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.booknetic_goto_dashboard_btn
{
    height: 60px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booknetic-loader
{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 999999;
}
.booknetic-loader:after
{
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid;
    border-color: #fff transparent #fff transparent;
    animation: booknetic-loader 1.2s linear infinite;
}
@keyframes booknetic-loader
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px)
{
    .booknetic_signup
    {
        width: 100% !important;
    }

}


#booknetic-toastr
{
    position: fixed;
    top: 60px;
    right: 25px;
    z-index: 1110;
    width: 380px;
    min-height: 80px;
    background: #FFF;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0 0 50px 0 #CCC;
    -moz-box-shadow: 0 0 50px 0 #CCC;
    box-shadow: 0 0 50px 0 #CCC;
}

#booknetic-toastr > .booknetic-toast-img
{
    float: left;

    background: #f5f6f9;
    border: 1px solid #e1e8f1;
    padding: 11px;

    margin: 16px;
    height: 53px;
}

#booknetic-toastr > .booknetic-toast-img > img
{
    width: 25px;
    height: 25px;
}

#booknetic-toastr > .booknetic-toast-details
{
    float: left;
    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 80px;
    width: calc(100% - 120px);
    overflow: auto;
}

#booknetic-toastr > .booknetic-toast-details > .booknetic-toast-description
{
    color: #828F9A;
    font-size: 14px;
    font-family: 'Poppins', sans-serif !important;
}

#booknetic-toastr .booknetic-toast-remove
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 15px;
    color: #adbfc7;
    height: 38px;
    width: 20px;
    background: #FFF;
    cursor: pointer;
}

/* Tenant custom fields */


.form-control {
    display: block;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
    border-color: #E3EAF3;
    font-size: 14px;
    color: #292D32;
    outline: none !important;
    padding: 0.375rem 0.75rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #E3EAF3;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100% !important;
    max-width: 100% !important;
}

#booknetic_tenant_custom_form{
    flex-direction: column;
}

#booknetic_tenant_custom_form textarea.form-control
{
    height: 120px;
    font-weight: 400;
    line-height: 1.5;
}



#booknetic_tenant_custom_form textarea.form-control::placeholder
{
    color: #828F9A !important;
    opacity: 1 !important;
    font-size: 14px;
}


.booknetic_form input[type='number'], .booknetic_form input[type='time']
{
    height: 48px;
    width: 100%;
    border: 1px solid #E3EAF3 !important;
    border-radius: 2px;
    background-color: #FFFFFF;
    padding: 15px;
    color: #292D32;
    font-size: 14px;
    line-height: 1.5;
}

.booknetic_customer_info
{
    width: 100%;
    max-width: 170px;
}

.rtl .booknetic_footer a{
    margin-left: unset;
    margin-right: 10px;
}

.rtl .booknetic_footer{
    display: flex;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}